.generator__main-content {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.generator__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

input.form-control {
  display: inline;
  width: auto;
}
